* {
    margin: 0;
}

.app {
    background-color: #fafafa;
}

.app__header{
    
    background-color: white;
    padding: 0px;
    border-bottom: 1px solid lightgray;
    width: 80px;
    margin: 4px;
    max-height: 70px;
    display: inline-block;
    
}

.img {
    display: block;
    width: 100%;
}